@import "tailwindcss";

@theme {
  --color-zeto-black: #000000;
  --color-zeto-white: #FFFFFF;
  --color-zeto-amber: #F4E1A4;
  --color-zeto-amber-deep: #2A2209;
  --color-zeto-blue: #5DA0C0;
  --color-zeto-blue-deep: #1A2A38;
  --color-zeto-orange: #C87649;
  --color-zeto-orange-deep: #1C0D04;

  --font-bebas: var(--font-bebas);
  --font-barlow: var(--font-barlow);
  --font-noto: var(--font-noto);
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  overscroll-behavior: none;
}
